body {
  background: #f2f2f2;
  max-width: 100%;
  overflow-x: hidden;
}

.searchbox-content {
  background: #fff;
  padding: 25px;
  max-width: 800px;
  margin: auto;
}

.ant-list-empty-text {
  display: none;
}
